body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.platzi-video {
    display: grid;
    grid-template-areas: "navigator content"
                         "navigator content"
                         "navigator content";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

.navigator {
    background-color: #151B31;
    color: white;
    display: grid;
    grid-template-areas: "logo"
                         "playlist"
                         "friends";
    grid-template-columns: 1fr;
    grid-template-rows: 80px repeat(2, 1fr);
    grid-area: navigator;
}
.logo {
    align-items: center;
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    grid-area: logo;
    justify-content: center;
}
.logo span:nth-of-type(2) {
    background: -webkit-linear-gradient(0deg, #F51720, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 6px;
}

.playlist {
    display: grid;
    grid-template-areas: "playlist-title"
                         "playlist-list";
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    grid-area: playlist;
    overflow-y: hidden;
}
.playlist__title {
    align-items: center;
    display: flex;
    grid-area: playlist-title;
    justify-content: flex-start;
    padding-left: 10px;
}
.playlist__list {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    grid-area: playlist-list;
    overflow-y: auto;
    padding: 10px;
    padding-left: 40px;
}
.playlist-item {
    height: 20px;
    margin: 10px 0;
}

.friends {
    display: flex;
    flex-direction: column;
    grid-area: friends;
    overflow-y: hidden;
}
.friends-title {
    align-items: center;
    display: flex;
    grid-area: playlist-title;
    height: 20px;
    justify-content: flex-start;
    padding-left: 10px;
}  
.friends-list {
    box-sizing: border-box;
    height: calc(100% - 20px);
    overflow-y: auto;
    padding: 10px;
    padding-left: 20px;
}  
.friend-item {
    display: flex;
    height: 50px;
    margin: 7px 0;
}
.friend-avatar {
    align-items: center;
    display: flex;
    flex: 20%;
    justify-content: center;
}
.friend-avatar img {
    border: solid 1px gray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.friend-username {
    align-items: center;
    display: flex;
    flex: 80%;
    justify-content: flex-start;
    margin-left: 10px;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-areas: "video video"
                         "video-description video-description"
                         "comments suggestions";
    grid-template-columns: 60% 40%;
    grid-template-rows: 300px 120px 1fr;
}

.video {
    background-color: lightblue;
    grid-area: video;
}

.video-description {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 30px 1fr;
    grid-area: video-description;
    padding: 0 10px;
}
.video-title {
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}
.video-views {
    color: gray;
    font-size: 1rem;
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
}
.video-actions {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
    grid-template-areas:
        "add-to add-to share save . tags tags tags tags tags tags tags";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}
.video-actions .button {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
}
.video-actions .button i {
    text-align: center;
}
.video-actions .button.add-to-my-list {
    grid-area: add-to;
}
.button.add-to-my-list span {
    background-color: tomato;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 50%;
}
.video-actions .icon-reply {
    grid-area: share;
    transform: rotateY(180deg);
}
.video-actions .button.save {
    grid-area: save;
}
.button.share span,
.button.save span {
    text-align: center;
}

.tags {
    display: flex;
    grid-area: tags;
}
.tag {
    border-radius: 5px;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
}

.tag.electronic {
    background-color: purple;
}
.tag.rock {
    background-color: lightgreen;
}
.tag.eighty {
    background-color: red;
}
.tag.relax {
    background-color: lightcoral;
}

.comments {
    grid-area: comments;
}

.suggestions {
    grid-area: suggestions;
}